body {
    color:#555555;
    font-family:"Lucida Grande","Helvetica Neue",Verdana,Arial,sans-serif;
    font-size:12px;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:1.5em;
    margin:0pt;
    padding:0pt;
    text-align:center;
}

#container {
    width: 800px;
    padding: 0px;
    margin: 0pt auto;
}

#results {
    height: 400px;
    width: 800px;
    margin: 5px;
    border: 2px solid black;
    padding: 5px;
    position: absolute;
/*    overflow: auto; */
}

#categories {
    padding: 0px;
    margin: 0px;
    
}

#helpholder {
    width: 800px;
    height: 15px; 
    margin: 5px;
    padding: 5px;
    clear: both;
/*    border: 1px solid black; */
}

a {
    outline-color: invert;
    outline-style: none;
    outline-width: medium;
    text-decoration: none;
}

img {
    border: 0px;
}

#select {
    width: 800px;
    margin: 3px;
    clear: both;
    text-align: right;
}

#select form {
    display: inline;
    padding-right: 33px;
}

.nav {
    display: block;
}

ul.nav li.selected {
    border-color: #FF0022;
}

ul.nav li.drophover {
    background-color: #FF3333;
}

ul.nav {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

ul.nav li {
    float: left;
    display: inline;
    border: 2px solid #000000;
    padding: 5px;
    padding-top: 6px;
    padding-bottom: 3px;
    margin: 5px;
}

.mdobject {
/*    position: relative;  */
/*    margin: 10px; */
    padding: 5px;
    width: 60px;
    height: 50px;
    border: 2px solid black;
/*    float: left; */
}

.mdcontainer{
    position: relative;
    height: 70px;
    padding: 0px;
    margin: 10px;
    float: left;
}

.mdcontainer #mdobjectfuncs {
/*    position: absolute; */
    background-color: #CCCCCC;
    position: relative;
    float: bottom;
}

.searchnav {
    position: absolute;
    bottom: 10px;
    margin: 10px;
    text-align: center;
}

.searchnav a {
    text-decoration: underline;
}

.searchnav img {
    padding: 2px;
    border: 1px solid white;
}

.searchnav a img {
    border: none;
    border-bottom: 1px solid black;
}
    
    